<b>Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

Select rtrim(FIRST_NAME) from worker

<b>Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

select distinct(Deparment) , len(Department) from worker

<b>Q-3. Write an SQL query to fetch nth max salaries from a table.

Select FIRST_NAME from table_name where Salary =( Select Salary from table_name order by Salary DESC limit n-1,1)