<b>Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

Select SUBSTRING(FIRST_NAME, 1, 3) from worker

<b>Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

Select  CHARINDEX("a",FIRST_NAME) from Worker

<b>Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

Select FIRST_NAME , max(salary) from Worker group by department